{% extends "UserInterfaceBundle:Default:navbar.html.twig" %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container">
        <h1>Inscription</h1>

        {{ form(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $( document ).ready(function() {
            $(".nav").find(".active").removeClass("active");
            $("#signup").addClass("active");
        });
    </script>
{% endblock %}