{% extends "UserInterfaceBundle:Default:navbar.html.twig" %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container">
        <h1>Validité de ma carte</h1>
        {% if message is defined %}<p>{{ message|raw }}</p>{% endif %}
        {{ form(form) }}
    </div>
{% endblock %}