.navdiv {
    height: 60px;
}

#navigo_template {
    margin: auto;
    width: 450px;
    height: 292px;
    background: url("../uploads/templates/navigo.jpg") no-repeat;
}

#navigo_template > img {
    width: 108px;
    height: 126px;
    position: relative;
    right: -284px;
    top: 66px;
}

#navigo_template > #name {
    width: 148px;
    display: inline-block;
    position: absolute;
    right: 579px;
    top: 323px;
    text-align: center;
}

#navigo_template > #card_number {
    position: absolute;
    right: 602px;
    top: 343px;
}